.arrow{

     height: 400px !important;
    width: 400px !important;
} 
.heroBg {
     background-image: url( "../images/concert-crowd.jpeg") !important;
     /* height: 700px !important;
     width: 700px !important; */
    background-position: center !important;
    /* display: flex;
    justify-content: center; */

}